.photo-grid__item {
  display: block;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1279px){
  .photo-grid__item {
  }
}

@media screen and (max-width: 1023px){
  .photo-grid__item {
  }
}

@media screen and (max-width: 767px){
  .photo-grid__item {
  }
}