.page__intro {
  max-width: 984px;
  width: calc(100% - 148px * 2);
  margin: 92px 0 0;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .page__intro {
    width: calc(100% - 24px * 2);
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .page__intro {
    width: calc(100% - 16px * 2);
    margin-top: 64px;
  }
}

