.footer__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}