.cover__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-decoration: none;
  z-index: 0;
  object-fit: cover;
  padding: calc((100% * 0.625 - 250px) / 2) 0;
}

.cover__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.2s linear;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .cover__background {
    padding: calc((100% * 0.625 - 99px) / 2) 0;
  }
}

@media screen and (max-width: 452px) {
  .cover__background {
    padding: calc((100% * 0.625 - 134px) / 2) 0;
  }
}
